@model IEnumerable<Product>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.StockQty</td>
            <td>@item.UnitPrice</td>
        </tr>
    }
</table>