@model Customer

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Create Customer</h2>
<div asp-validation-summary="All"></div>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="text" />
    </div>

    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" type="text" />
    </div>

    <button type="submit">Save</button>
</form>
